{% extends "base.html" %}

{% block content %}
<div class="main-content">
    
    <h1>Welcome to Our School</h1>
    <div class="main-image">
        <iframe src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Fpermalink.php%3Fstory_fbid%3Dpfbid0ytzE7iPJwFjmcjchpWAyoFw6HX5hWhckyJNLoi4hD5CSppUyPEQNqk2e5vZknWdil%26id%3D100057861511048&show_text=true&width=500" width="500" height="250" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe>
        <img src="{{ url_for('static', filename='images/school_front.jpg') }}" alt="Our School">
        <iframe src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Fpermalink.php%3Fstory_fbid%3Dpfbid0szAF7P46kRxRd43bbpAeTC3VDyQgpgkiZasrP9G9HMsZYn25Jjj7zC6dvrivKUsl%26id%3D100057861511048&show_text=true&width=500" width="500" height="250" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe>
    </div>
    <div class="about-school">
        <h2>The best school in the world</h2>
        <p>Our school has been a pillar of excellence in education for over 50 years. With modern classrooms, dedicated teachers, and a strong commitment to extracurricular activities, we aim to nurture both the academic and personal growth of every student.</p>
    </div>
</div>
{% endblock %}
